:host {
  p {
    font-family: Lato;
  }
  body {
    font-family: Lato;
    color: rgb(16, 13, 13);
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  .nav-grad1 {
    color: rgb(245, 237, 237);
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .navbar-brand {
    font-weight: 1000;
    font-size: 30px;
    padding-left: 70px;
  }

  .navbar-nav {
    margin-right: 15px;
  }
  a.nav-link {
    color: white;
  }

  .btn {
    outline: white;
    color: white;
  }
  .btn:hover {
    background-color: red;
    outline: red;
    color: black;
  }
  .navbar-toggler {
    background-color: white;
  }
}
